.wrapper {
  margin: 2%;
}

.title {
  color: #548ca8;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #476072;
  color: #eeeeee;
  padding: 0.5rem;
  max-width: 20%;
  height: 8rem;
  margin: 2% 0%;
  border-radius: 2%;
}

.discard-btn {
  background-color: #334257;
  color: #eeeeee;
  align-self: flex-end;
  border-color: unset;
  border: none;
  padding: 2%;
}

.discardAll-btn {
  background-color: #334257;
  color: #eeeeee;
  align-self: flex-end;
  border-color: unset;
  border: none;
  padding: 2%;
}

p {
  margin: 1%;
}
